<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Database</title>
    <style>
        body {
            background-color: lightseagreen;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            align-items: center;
        }

        h1 {
            margin-top: 15%;
        }
</style>
</head>
<body>
    <div>
        <h1>Movie Database</h1>
        <p>Everything you need to know about your favourite movies</p>
            <form action="/movie_list">
            <input type="text" name="s" placeholder="Enter Movie Title">
            <button>Search</button>        
    </form>
    </div>
</body>
</html>
