    <div class='container'>
    <%@search_result["Search"].each do |title|
    @counter += 1
        if @counter % 2 == 0%>
            <div class="even sangria">
                <a href="/movie-info?i=<%=title["imdbID"]%>" class="list-link"><%=title["Title"]%></a>
            </div>
        <%elsif @counter % 2 != 0%>
            <div class="odd naval">
                <a href="/movie-info?i=<%=title["imdbID"]%>" class="list-link"><%=title["Title"]%></a>
            </div>
        <%end%>
    <%end%>
    </div>

    <%# the missing link was having t=movie in the actual link as a query.  Once it is in the link(as well as the title) then you can go back to using params as params is an automatic feature of query %>

    

 
